html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #11175E;
    font-size: 4rem;
    font-weight: 600;
    margin: 0 0 1.6rem;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F5F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
     background-color: #FFFFFF;
     width: 100%;
     max-width: 45rem;
     height: 43rem;
     height: 0 auto;
     border-radius: 1rem;
     padding: 3.2rem 2.4rem;
     box-shadow: 1px 1px 1px 1px #00000040;
     margin-bottom: 0;
}

#form-tasks-board {
    width: 100%;
    height: 5.5rem;
    display: flex;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 1rem;
}

.input-description-1 {
     border: 1px solid #EEEEEE ;
     border-radius: 0.8rem;
     margin-left: 0px;
     padding-left: 2rem;
     font-weight: 400;
     color: #B1BACB;
     font-size: 1.2rem;
     height: 4rem;
     width: 18rem;
}

#todo-board-tasks {
    min-height: 5rem;
    margin: 0.8rem 0 1.6rem;
    padding-inline-start: 0rem;
    overflow: auto;
   
}

.task-date {
    color: #B1BACB;
    font-size: 1.2rem;
    justify-content:center;
    display: flex;
}

#todo-board-tasks li {
    list-style-type: none;
    padding: .8rem 1.6rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    border-radius: 1rem;
    margin-bottom: 0.8rem;
    width: 41.5rem;
    height: 6.5rem;
}


.tasks-tag {
    border: 1px solid #B1BACB;
    border-radius: 2.3rem;
    font-size: .8rem;
    color:#B1BACB ;
    padding: .5rem;
    font-weight: 500;
    display: inline-block;
    width: fit-content;
}

.task-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.tag-date-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-right: 50px;
}

.task-content-wrapper label {
    font-size: 1.3rem;
    font-weight: 500;
    color: #11175E;
    margin: 0;
}

.tasks-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    cursor: pointer;
}

.tasks-label-container label{
    cursor: pointer;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1.4rem;
    margin-left:1rem;
}

.tasks-completed .tasks-title {
    text-decoration: line-through;
    color: #8F98A8;
}

.check-img {
    width: 2.7rem;
    height: 2.7rem;
    margin-right: 1rem;
    align-self: center;
}

button {
    background-color: #2D70FD;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: .4rem;
    height: 4rem;
    width: 8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttPlus {
    width: 4rem;
    height: 4.3rem;

    &:hover {
        opacity: 0.7 ;
    }
}


#todo-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #B1BACB;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid #EEEEEE;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: right;
    position: relative;
}

@media  only screen and (max-width:568px)  { 
    #form-tasks-board {
    flex-direction: column; 
    height: auto;
    width: 95%;
  }

  .input-description-1 {
    width: 90%; 
    margin-left: 1.5rem;
  }

  #buttPlus {
    width: 96.5%;
    margin-left: 1.5rem;
    margin-bottom: 1.1rem;
  }

  #todo-board-tasks {
   height: auto;
   overflow: visible;
  }

  #todo-board-tasks li {
    width: 90%;
    height: 13rem;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.8rem;
}
.tasks-label-container {
    flex-direction: column;
    margin: 10px 0 10px 0;
    align-items: flex-start;
    gap: 0.8rem;
}

.tasks-label-container label {
    margin: 0;
    align-self: flex-start;
}

.tasks-tag {
    display: inline-block;
    
}

.tag-date-wrapper {
    margin: 10px 0 0 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.task-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin: 0;
}

  main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }

  h1 {
    margin-left: 1.5rem;
    font-size: 32px;
  }

  button {
   align-self: center;
}

}

